<div class='courses-wrap'>
	<nav class='instructor-course-nav'>
		<%= link_to 'Preview', course_path(current_course), class: 'mr-4' %>
	</nav>
	<div class='course'>
		<h1 class='course-title'><%= current_course.title %></h1>
		<%= image_tag current_course.image, class: 'img-fluid mb-4' %>
		<div class='course-body'>
			<div class='course-sidebar'>
				<h3 class='course-meta pb-2'>
					<span>Cost:</span>
					<br/>
					<strong>
						<% if @course.free? %>
							FREE
						<% else %>
							<%= number_to_currency @course.cost, unit: '£' %>
						<% end %>
					</strong>
				</h3>
				<h3 class='course-meta pb-2'><span>Author:</span><br/><strong>Davey Wright</strong></h3>
				<%= link_to 'Enroll Now', '#', class: 'btn btn-cta' %>
			</div>
			<p class='course-description'><%= current_course.description %></p>
		</div>
		<section class='course-sections'>
			<div class='sections-header mb-2'>
				<h2>Sections</h2>
				<%= link_to 'Add a Section', new_instructor_course_section_path(current_course) %>
			</div>
			<ol class='sections'>
				<% current_course.sections.each do |section| %>
					<li data-update-url=<%= instructor_section_path(section) %>>
						<article class='course-section'>
							<header class='course-section-header'>
								<span class="fa fa-ellipsis-v mr-4"></span>
								<h3 class='course-section-title mr-auto'><%= section.title %></h3>
								<%= link_to 'Add New Lesson', new_instructor_section_lesson_path(section), class:'add-lesson-link'%>
							</header>
							<main class='section-lesson-main'>
								<ol class='lessons'>
									<% section.lessons.rank(:row_order).each do |lesson| %>
										<li data-update-url=<%= instructor_lesson_path(lesson) %>>
											<article class='section-lesson-article'>
												<span class="fa fa-ellipsis-v mr-4"></span>
												<h3 class='section-lesson-title'>
													<%= link_to lesson.title, lesson_path(lesson) %>
												</h3>
												<h4 class='section-lesson-subtitle'>
													- <%= lesson.subtitle %>
												</h4>
												<%= link_to 'View Lesson', lesson_path(lesson), class:'section-lesson-link' %>
											</article>
										</li>
									<% end %>
								</ol>
							</main>
						</article>
					</li>
				<% end %>
			</ol>
		</section>
	</div>
</div>

<script type="text/javascript">
	$(()=>{

		$('.lessons').sortable({
			update: (event, ui) => {
				$.ajax({
					type: 'PUT',
					url: ui.item.attr('data-update-url'),
					dataType: 'JSON',
					data: { lesson: { row_order_position: ui.item.index() } }
				});
			}
		});

		$('.sections').sortable({
			update: (event, ui) => {
				$.ajax({
					type: 'PUT',
					url: ui.item.attr('data-update-url'),
					dataType: 'JSON',
					data: { section: { row_order_position: ui.item.index() } }
				});
			}
		});

	});
</script>
