<div class='courses-wrap'>
	<nav class='instructor-course-nav'>
		<%= link_to 'Preview', course_path(current_course), class: 'mr-4' %>
	</nav>
	<div class='course'>
		<h1 class='course-title'><%= current_course.title %></h1>
		<%= image_tag current_course.image, class: 'img-fluid mb-4' %>
		<div class='course-body'>
			<div class='course-sidebar'>
				<h3 class='course-meta pb-2'>
					<span>Cost:</span>
					<br/>
					<strong>
						<% if @course.free? %>
							FREE
						<% else %>
							<%= number_to_currency @course.cost, unit: '£' %>
						<% end %>
					</strong>
				</h3>
				<h3 class='course-meta pb-2'><span>Author:</span><br/><strong><%= "#{current_course.user.first_name} #{current_course.user.last_name}" %></strong></h3>
				<h5 class='your-enrolled'>Your Enrolled!</h5>
			</div>
			<p class='course-description'><%= current_course.description %></p>
		</div>


		<!-- New Section Modal -->
		<div class="modal fade" id="new-section-modal" tabindex="-1" role="dialog" aria-labelledby="new-section-modal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 class="modal-title" id="photoModalLabel">Add a Section</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		     	<%= simple_form_for @section, url: '#' do |f| %>
		      	<div class="modal-body">
						  <div class="form-inputs">
									<%= f.input :title %>
						  </div>
						</div>
			      <div class="modal-footer">
			      	<div class="form-actions">
						    <%= f.submit 'Add Section', class: 'btn btn-cta' %>
						    <button type="button" class="btn btn-clear" data-dismiss="modal">Cancel</button><br/>
						  </div>
			      </div>
		     	<% end %>
			  </div>
			</div>
		</div>


		<!-- New Lesson Modal -->
		<div class="modal fade" id="new-lesson-modal" tabindex="-1" role="dialog" aria-labelledby="new-lesson-modal" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 class="modal-title" id="photoModalLabel">Add a Lesson</h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">×</span>
		        </button>
		      </div>
		     	<%= simple_form_for @lesson, url: "#" do |f| %>
		      	<div class="modal-body">
						  <div class="form-inputs">
								<%= f.input :title %>
								<%= f.input :subtitle %>
								<%= f.input :video %>
						  </div>
						</div>
			      <div class="modal-footer">
			      	<div class="form-actions">
						    <%= f.submit 'Add Lesson', class: 'create-lesson btn btn-cta' %>
						    <button type="button" class="btn btn-clear" data-dismiss="modal">Cancel</button><br/>
						  </div>
			      </div>
		     	<% end %>
			  </div>
			</div>
		</div>


		<section class='course-sections'>
			<div class='sections-header mb-2'>
				<h2>Sections</h2>
				<a href='#' class='new-section' data-toggle='modal', data-target='#new-section-modal', data-section-url=<%= instructor_course_sections_path(current_course.id)%>>Add a Section</a>
			</div>
			<ol class='sections'>
				<% current_course.sections.rank(:row_order).each do |section| %>
					<li data-update-url=<%= instructor_section_path(section) %>>
						<article class='course-section'>
							<header class='course-section-header'>
								<span class="fa fa-ellipsis-v mr-4"></span>
								<h3 class='course-section-title mr-auto'><%= section.title %></h3>
								<a href='#' class='new-lesson' data-lesson-url=<%= instructor_section_lessons_path(section) %> data-toggle='modal' data-target='#new-lesson-modal'>Add New Lesson</a>
							</header>
							<main class='section-lesson-main'>
								<ol class='lessons'>
									<% section.lessons.rank(:row_order).each do |lesson| %>
										<li data-update-url=<%= instructor_lesson_path(lesson) %>>
											<article class='section-lesson-article'>
												<span class="fa fa-ellipsis-v mr-4"></span>
												<h3 class='section-lesson-title'>
													<%= link_to lesson.title, lesson_path(lesson) %>
												</h3>
												<h4 class='section-lesson-subtitle'>
													- <%= lesson.subtitle %>
												</h4>
												<%= link_to 'View Lesson', lesson_path(lesson), class:'section-lesson-link' %>
											</article>
										</li>
									<% end %>
								</ol>
							</main>
						</article>
					</li>
				<% end %>
			</ol>
		</section>
	</div>
</div>

<script type="text/javascript">
	$(()=>{

	 	$('.new-lesson').click((e)=>{
	 		let url = $(e.target).attr('data-lesson-url');
	 		$('#new_lesson').attr('action', url);
	 	});

	 	$('.new-section').click((e)=>{
	 		let url = $(e.target).attr('data-section-url');
	 		$('#new_section').attr('action', url);
	 	});

		$('.lessons').sortable({
			update: (event, ui) => {
				$.ajax({
					type: 'PUT',
					url: ui.item.attr('data-update-url'),
					dataType: 'JSON',
					data: { lesson: { row_order_position: ui.item.index() } }
				});
			}
		});

		$('.sections').sortable({
			update: (event, ui) => {
				$.ajax({
					type: 'PUT',
					url: ui.item.attr('data-update-url'),
					dataType: 'JSON',
					data: { section: { row_order_position: ui.item.index() } }
				});
			}
		});

	});
</script>
