<div class='courses-wrap'>
	<nav class='instructor-course-nav'>
		<% if current_user && current_user == @course.user %>
			<%= link_to 'Administer', instructor_course_path %>
		<% end %>
	</nav>
	<div class='course'>
		<h1 class='course-title'><%= @course.title %></h1>
		<div class='course-body'>
			<div class='course-sidebar'>
				<h3 class='course-meta pb-2'><span>Cost</span><br/><strong><%= number_to_currency @course.cost, unit: '£' %></strong></h3>
				<h3 class='course-meta pb-2'><span>Author</span><br/><strong>Davey Wright</strong></h3>
				<%= link_to 'Enroll Now', '#', class: 'btn btn-cta' %>
			</div>
			<p class='course-description'><%= @course.description %></p>
		</div>
		<section class='course-sections'>
			<h2>Sections</h2>
			<% @course.sections.each do |section| %>
				<header class='course-section-header'>
					<h3 class='course-section-title'><%= section.title %></h3>
				</header>
				<main class='section-lesson-main'>
					<ol>
						<li>
							<% section.lessons.each do |lesson| %>
								<article class='section-lesson-article'>
									<h3 class='section-lesson-title'>
										<%= lesson.title %>
									</h3>
									<h4 class='section-lesson-subtitle'>
										- <%= lesson.subtitle %>
									</h4>
								</article>
							<% end %>
						</li>
					</ol>
				</main>
			<% end %>
		</section>
	</div>
</div>
